body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.box {
    background-color: #66cc99;
    width: 100%;
    border: 1px solid black;
}
h1 {
    color: white;
    padding-left: 10px;
}
 div {
    margin: 1px; 
    border-radius: 5px; 
    word-wrap: break-word;
 }
.homeLink {
    font-size: 55px;
} 
.bold {
    font-weight: bold;
    font-size: 21px;
}
.nobr { 
    white-space: nowrap;
}
br {
    line-height: 10%;
}
p {
    padding-left: 10px;
    font-size: 14px;
    color: white;
}
h2 {
    padding-left: 10px;
    color: white;
}
#homeLinkA {
    float: left;
    color: white;
    width: 48%;
    height: 12vh;
}
#bigContainer {
    width: 100%;
    border: none;
}
.container {
    float: left;
    width: 24%;
    border: noe;
    padding: 4px;
}
#br1 {
    clear: left;
}
.box {
    border: 1px solid black;
}
.mediumcontainer {
    width: 50%;
    display: inline-block;
}
body {
  background: #D38312; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #D38312 , #A83279); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #D38312 , #A83279); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#enterButton {
    border: 2px solid white;
    margin: auto;
    width: 50%;
    padding: 10px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#stopHead {
    font-size: 18px;
}
#inst {
    font-size: 50px;
}
a.nounderline:link  
{  
 text-decoration:none;  
}  
.nunito {
        font-family: nunito, sans-serif;
}